* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}




a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container-medium {
    margin: 0 auto;
    width: 75%;
}

.container-small {
    margin: 0 auto;
    width: 60%;
}


.flex-faq2 > i {
    padding-right: 30px;
}


.border-top {
    border-top: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black;
}


.flex-footer-cell > p {
    color: white;
}





.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}
.margin-top-150 {
    margin-top: 120px;
}



.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
} 

.margin-bottom-150 {
    margin-bottom: 150px;
}


.margin-right-75{
    margin-right: 75px;
}

.margin-right-15 {
    margin-right: 15px;
}


.margin-left-30 {
    margin-left: 30px;
}

.margin-right-30 {
    margin-right: 30px;
}




.padding-general-10 {
    padding: 10px;
}


.padding-general-20 {
    padding: 20px;
}

.padding-top-bottom-25 {
    padding: 25px 0;
}





.margin-general-20 {
    margin: 20px;
}







.bg-color-desi {
    background-color: #a2d39b ;
}

.bg-color-asu {
    background-color:  #61082b;
}


.bg-color-uf {
    background-color: #0093ce ;
}

.bg-color-topps {
    background-color:  #ff1c1c;
}

.bg-color-wbr {
    background-color: #d5001f;

}

.bg-color-hearst {
    background-color:  #b4d0e7;
}

.bg-color-lp {
    background-color: #0d2481 ;
}

.bg-color-cc {
    background-color: #ffd830 ;
}



.white {
    color: white;
}

.blue {
    color: #0061ff;
}


.button-blue {
    background-color: #0061ff ;
    padding: 10px 15px;
}

button {
    border: none;
}




