header {
    width: 100%;
    height: 800px;
    background-color: #b4d0e7;
    
}

.nav-flex {
    display: flex;
    align-items: center;
    width: 100%;
     height: 80px;
    background-color:#ffffff ;
    justify-content: space-between;
    
    

}



h1 {
    font-weight: 700;
    font-size: 4em;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
}

nav > a:hover {
    border-bottom: 1px solid black;
}

    


.left-nav {
    display: flex;
    align-items:center;
    height: 100%;
   
}



.flex-jumbo {
    display: flex;
    justify-content: center;

}


.flex-jumbo-left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.jumbo {
    width:90%;

    
}

.arrow-down {
    font-size: 3em;
}

.cerchio {
 height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid grey;
 
}

.outline {
    outline-offset: -5px;
    outline: 5px solid  #0061ff;
  
}
.flex-circles {
    height: 30px;
    display: flex;
    align-items: baseline;
 
}

.flex-inside-cards {

    display: flex;
    flex-direction: column;
    align-items: center;

}

h5 {
    text-align: center;
}



.flex-circles-2 {
    display: flex;
    align-items: center;
}

.flex-cards {
    display: flex;
    justify-content: space-between;
    
    
}

.card {
    width: calc(33% - 20px);
    border: 1px solid grey;
}



.bottom-card {
    width: 100%;
    border: 1px solid grey;
}

.bottom-card-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-card-left {
    display: flex;
    flex-direction: column;
}

.small-hr {
    width:15%;
    text-align:left;

}

.partner-flex {
    display: flex;

}

.partner {
    width: 500px
}


.flex-operations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 70px;
}

.operation-card {
    width: calc(33% - 20px);
}

.operation-card > img {
    width: 313px; 

    
}

.sponsor {
    display: flex;
    
}


.big-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex; 
    flex-wrap: wrap;
    
} 

.small-square {
    width: 50%;
    height: 50%;
    position: relative;
    
    
}

.small-square > img {
    
    
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);

    
       
}

.container-big-square {
    margin: 0 auto;
    width: 90%;
    margin-top: 45px;
}

.flex-start-trial {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.flex-faq {
    display: flex;
    flex-direction: column;

}

.flex-faq-2 {
    display: flex;
    justify-content: space-between;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-footer-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #000000 ;
}




